header{
    background-color: rgb(152, 191, 179);
    border-radius: 10px;
}
header:hover{
    background-color: rgb(125, 164, 198);
}
.headera{
    color: rgb(7, 7, 7);
}
.headera:hover{
    color: white;
}
#headerh1{
    text-align: center;
}
body{
    background-color: #e0f7fa;
}
img{
    width: 80%;
    border-radius: 20px;
}
#asosiyh1{
    text-align: center;
    justify-content: center;
}
div{
    width: 100%;
}
.divindex{
    background-color: antiquewhite;
    width: 45%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    justify-content:center;
}
button{
    text-align: center;
    background-color: #4CAF50; 
      color: white;             
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
}
.buttonp{
    text-align: center;
}